apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: infra
  labels:
    app: cloudflared
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args:
        - tunnel
        # Points traffic to the ingress controller service
        # This allows defining Ingress resources that Cloudflare will pick up
        - --url
        - http://traefik.kube-system.svc.cluster.local:80
        - --no-autoupdate
        env:
        - name: TUNNEL_TOKEN
          valueFrom:
            secretKeyRef:
              name: cloudflared-token
              key: token
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
